//Viariables
@import url("https://fonts.googleapis.com/css?family=Oswald");
$main-font: 'Oswald', sans-serif;

body {
  background-image: url("../images/Wikipedia-logo.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 114px;
  text-align: center;
}

.header {
  background-color: #0483a0;
  background-size: cover;
  padding-top: 20px;

  h1 {
    padding-bottom: 20px;
    font-family: $main-font;
    text-align: center;
  }
}

//Buttons
.random {
  font-size: 20px;
  justify-content: center;
  padding-top: 20px;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
  background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
  background-image: linear-gradient(top, #31b2c3, #0483a0);

  &:hover {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
  }
}

//Search field
.search-box {
  margin-top: 20px;

  #search-field {
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-style: solid;
    border-color: #0483a0;
    width: 300px;
    height: 46px;
  }

  .submit-button {
    margin-left: 5px;
  }

  .clear-button {
    margin-left: 5px;
  }
}

//Results
#results-list {
  margin-top: 10px;
}

#results {
  font-size: 2rem;
  background: #e6eeef;
  border: 2px solid #0483a0;
  border-radius: 5px;
  padding: 1em;
  margin: 1em auto;
}

.extract {
  font-size: 12px;
}

//Autocomplete
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  _width: 160px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: #0483a0;
  border-style: solid;
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item.ui-state-focus {
    background-color: #31b2c3;
    border: 1px solid #999999;
    margin: -1px;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

//UI menu
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;

  .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
  }
}

//Responsive design
@media screen and (max-width: 360px) {
  body {
    background-attachment: fixed;
  }

  #search-field {
    width: 300px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  body {
    background-image: url("../images/Wikipedia-logo.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  #search-field {
    border-style: solid;
    border-color: #0483a0;
  }
}
